/* Bootstrap Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Universal Selector */

/* Custom Variables */
::-webkit-scrollbar{
    display: none;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
  }

/* wrapper */
  :is(.wrapper) {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
    background-color: black;
    color: whitesmoke;
}
/* section */
section{
    scroll-margin-block: 7rem;
  }
/* responsiveness width */
  :is(main.container-fluid) {
    width: 100dvw;
  }

.landing {
    min-height: 85.5vh;
}

/* Select all images */
img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}
/* logo */
img[alt='logo'] {
    width: 5rem;
}

img[alt='profileImage'] {
  aspect-ratio: 1/1;
  width: 420px;
  height: 420px;}

  @media (width < 992px) {
    img[alt='profileImage'] {
      aspect-ratio: 1;
      width: 380px;
      height: 380px;
    }
  }

  @media (width < 770px) {
    img[alt='profileImage'] {
      aspect-ratio: 1;
      width: 360px;
      height: 360px;
    }
  }

  @media (width < 420px) {
    img[alt='profileImage'] {
      aspect-ratio: 1;
      width: 240px;
      height: 240px;
    }
  }

  .profileImage {
    border: 3px solid silver;
    animation-name: welcome;
    animation-duration: 35s;
    animation-delay: 0s;
    position: relative;
    animation-direction: alternate;
    
}

@keyframes welcome{
    0%{
        left: -800px;
        top: 0px;
    }
  
    25%{
        left: 0px;
        top: 0px;
  
    }
  
    50%{
        left: 0px;
       top:0px;
  
    }
  
    75%{
        top: 0px;
        left: 0px 
     }
  
     100%{
        left: 0px;
        top: 0px;
    
     }     
    }
    .title {
      color: whitesmoke;
    opacity: 1;
    animation-name: rightFadeInOut;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  @keyframes rightFadeInOut {
      0% {
        right: -3rem;
        opacity: 0;
      }
    
      75% {
        right: 10rem;
        opacity: 1;
      }
    
      100% {
        opacity: 1;
        right: 10rem;
      }
   }